.HomePage-Container {
  height: 100%;
  width: 100%;
}
.HomePage-Container .HomePage-SubContainer {
  height: 100%;
  width: 100%;
}
.HomePage-Container .HomePage-SubContainer .HomePage-SubContainer-Header {
  height: 20%;
  background-color: whitesmoke;
}
.HomePage-Container .HomePage-SubContainer .HomePage-SubContainer-Body {
  height: 84%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color:white;
  background-image: url('../Asserts/newFrontend.jpg');

  background-size: cover; /* Background image ko cover karega */
  background-position: center; /* Background image ko center mein position karega */
  background-repeat: no-repeat;
}
.HomePage-Container .HomePage-SubContainer .HomePage-SubContainer-Body .HomePage-SubContainer-Body-SubBody1 {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomePage-Container .HomePage-SubContainer .HomePage-SubContainer-Body .HomePage-SubContainer-Body-SubBody2 {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomePage-Container .HomePage-SubContainer .HomePage-SubContainer-Body .HomePage-SubContainer-Body-SubBody2 .MuiPaginationItem-outlinedSecondary.Mui-selected {
  background-color: white;
  color: red;
  border: 1px solid burlywood;
}
.HomePage-Container .HomePage-SubContainer .HomePage-SubContainer-Footer {
  height: 8%;
  width: 100%;
  box-sizing: border-box;
  background-color: #48a9be;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Roboto";
}
.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marqueeAnimation 10s linear infinite;
  
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}


























































































































































































